<form class="form" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
    <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input type="text" matInput [formControl]="loginFormControl" [errorStateMatcher]="matcher" placeholder="Login"
            formControlName="login">
        <mat-error *ngIf="loginFormControl.hasError('required')">
            Login is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
            placeholder="Password" formControlName="password">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Sign in</button>
</form>